html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
  height: 90px;
}

/* ここから */
header {
  height: 50px;
  background-color: #2B2B2B;
}

header ul {
  display: flex; 
  justify-content: flex-start;
  padding-inline-start: 0px;
  margin-block-start: 0rem
}

header ul a {
  margin: 20px;
  color: #FFF;
  text-decoration: none;
}

header li {
  list-style: none;
  top: 16px;
  position: relative;
}

header li:nth-of-type(3) {
  margin-left: auto;
}

/* ここまでがheader部分の実装 */

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
  width: 13%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 1.5rem;
  margin-block-start: 0px;
  padding-top: 30px;
}

p:last-child {
  padding-bottom: 25px;
}

.about h1 {
/* About Achieve部分の実装 */
  font-size: 1.5rem;
}

.about p {
  font-size: 0.8rem;
}


/* ここから */
.function {
  background-color: #D3D3D3;
}


.function-images {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.function-image {
  margin: 0 15px;
}
/* ここまでがfunction部分の実装 */

footer {
/* footer部分の実装 */
}